{% capture powered_by_link %} {{ 'footer.powered_by' | t }} <a href="https://www.webloo.com/" rel="noopener" target="_blank" rel="nofollow">Webloo</a>.{% endcapture %}
{%- assign bottom_menu = section.settings.bottom_menu -%}

<div class="footer-copyright">
  <div class="footer-copyright__content">
    {%- assign store_name = 'custom.frmf' | t -%}
    <span class="footer-copyright__copy">&copy; {{ 'now' | date: "%Y" }} {{ store_name | link_to: routes.root_url }}</span>
    <span>  |  {{ 'custom.all_rights_reserved' | t }}  | </span>
    <span class="footer-copyright__powered">{{ powered_by_link }}</span>
  </div>

  {%- if bottom_menu != blank and linklists[bottom_menu].links.size > 0 -%}
    <div class="footer-copyright__menu">
      {% for link in linklists[bottom_menu].links %}
        <a href="{{ link.url }}" class="footer-copyright__link">{{ link.title | strip_html | escape }}</a>
      {% endfor %}
    </div>
  {%- endif -%}
</div>